@tailwind base;
@tailwind components;
@tailwind utilities;

.customTransition {
	-webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.borderForNow {
	border: 1px solid #000 !important;
}